/* Estilo del modal que cubre toda la pantalla */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
  z-index: 1000; /* Para asegurarnos que esté encima de todo */
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Ocultar el modal por defecto */
.hidden_modal {
  opacity: 0;
  visibility: hidden; /* Esconde el modal completamente */
}

/* Estilo del cuadro centrado */
.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

/* Estilo de los inputs */
.modal_input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Botón para cerrar el modal */
.modal_btn,
.modal_btn_confirmar {
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal_btn:hover,
.modal_btn_confirmar:hover {
  background-color: darkgoldenrod;
}
